<h2>Tu as oublié ton mot de passe ?</h2>
</br>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.email_field :email, :autofocus => true, :placeholder => "email", :class => "span4" %></div>

  <div><%= f.submit "Renvoyer", :class => "btn span4"  %></div>
  
<% end %>

</br></br>

<div><%= link_to "Retour à la page de connection", user_session_path, :class => "btn span4" %></div>
</br></br>

<div><%= link_to "Retour à l'accueil", root_path, :class => "btn span4" %></div>


<%#= render "devise/shared/links" %>
