<h4>Mise à jour du profile de <%= current_user.email %></h4>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div></br>
  <%= f.email_field :email, :autofocus => true, :class => "span3" %></div>
  
  <div></br>
  <%= f.text_field :nickname, :placeholder => "surnom CoDressMe", :class => "span3" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
</br>

	
  <div> 
	<% if resource.haslocalpw == true %>	
		<i>(si tu veux changer ton mot de passe, renseigne-le et confirme-le. Ton mot de passe actuel sera requis pour la validation)</i><br/>
	<% else %>
		<i>(tu peux créer un mot de passe pour te connecter ultérieurement à CoDressMe par email)</i><br/>
	<% end %>
  <%= f.password_field :password, :autocomplete => "off", :placeholder => "mot de passe", :class => "span3" %></div>
  <div>
  <%= f.password_field :password_confirmation, :placeholder => "confirmation du mot de passe", :class => "span3" %></div>

  </br>
  <% if resource.haslocalpw == true %>	
	  <div> <i>(le mot de passe actuel est nécessaire pour valider tout changement de mot de passe ou d'email)</i><br />
	  <%= f.password_field :current_password, :placeholder => "mot de passe actuel", :class => "span3" %></div>
  <% end %>	
  
  </br>
  <div><%= f.submit "Mise à jour", :class => "btn span3" %></div>
  
  <br>
  <% if current_user.Newsletter == true %>
	<%= f.check_box :Newsletter, {checked: true, :style => "float:left;"} %>
  <% else %>
	<%= f.check_box :Newsletter, {checked: false, :style => "float:left;"} %>
  <% end %>
  <%= f.label :Newsletter, "Souscrire à notre newsletter".html_safe, :style => "float:left;" %>
  <br>
  
<% end %>

</br>

<h3>Fermeture de mon compte</h3>

<p>Envie de nous quitter ? <%= button_to "Fermer mon compte", registration_path(resource_name), :class => "btn span3", :data => { :confirm => "Es tu sure?" }, :method => :delete %></p>

<%= button_to "Retour", :back, :class => "btn span3" %>