<!DOCTYPE html>
<html>
<head>
  <title>MultiSoc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>






<%= nav_bar :fixed => :top, :brand => "CoDressMe", :responsive => true do %>
	 
    <% if user_signed_in? %>
		 <% menu_group :pull => :right do %>
		    
			<em class="navbar" > Bienvenue, 
				<strong>
					<% if current_user.nickname == nil %>
						renseigne vite ton surnom </strong>  !
					<% else %>
						<%= current_user.nickname %> 
							<% if session["provider"].blank? %>
								</strong>  !
							<% else %>
							</strong>  , connectée par <%= session["provider"].split("_").first %> !
							<% end%>
					<% end %>
					
				
			</em>
			
			<!-- BOUTON RESEAU SOCIAUX -->
			<% if Authentication.find_by_user_id(current_user[:id]) != nil %>
				<% if session["provider"].blank? %>
					<%#= link_to "me connecter par Facebook", user_omniauth_authorize_path(:facebook), :class => "btn" %>
					<a href="#myModal" role="button" class="btn" data-toggle="modal">Me connecter par Facebook</a>
				<% end %>
			<% else %>
				<%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %>
			<% end %>
			 <%= link_to 'Modifier mon profile', edit_user_registration_path , :class => "btn" %>
			 <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete , :class => "btn" %>
		<% end %>
    <% else %>	
        <% menu_group :pull => :right, :class => "test" do %>
            
            <%= form_for(:user, :url => user_session_path, :html => {:class => "navbar-form"}) do |f| %>
			  <%= f.email_field :email, :autofocus => true , :class => "span2", :placeholder => "email"  %>
			  <%= f.password_field :password , :class => "span2", :placeholder => "mot de passe" %>
			  <%= f.submit "Je me connecte" , :class => "btn" %>
			  <a href="#myModal" role="button" class="btn" data-toggle="modal">Connection Facebook</a>
			  <%#= link_to "Connection Facebook", user_omniauth_authorize_path(:facebook), :class => "btn" %>
			<% end %>
			
        <% end %>
    <% end %>
<% end %>




<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
<% end %>













<div class="container-fluid no-padding fill fill-height" id="main-container">

	<%= yield %>

</div>







<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 id="myModalLabel">Connecte-toi avec ton réseau social favori !</h4>
</div>
<div class="modal-body">
	
		<div class="row" ><%= link_to "Connecte-toi avec Facebook", user_omniauth_authorize_path(:facebook), :class => "btn span3 offset1" %> </div>
		   </br>
		   <div class="row" ><%= link_to "Connecte-toi avec Google", user_omniauth_authorize_path(:google_oauth2), :class => "btn span3 offset1" %> </div>
		  </br></br>
		</div>

		<p class="offset1">Et augmente tes chances de trouver preneur pour tes guenilles !</p>
	
<div class="modal-footer">

	<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
</div>
</div>
<!-- FIN Modal -->





<footer class="footer navbar navbar-bottom">
        <ul class="footer-links">
		  <li><%= link_to(image_tag("facebook.jpg", :size => "40x40", :alt => "facebook_logo"), "http://www.facebook.com/codressme") %> </li>
		  <li><%= link_to(image_tag("twitter.jpg", :size => "40x40", :alt => "facebook_logo"), "http://www.twitter.com/codressme") %> </li>
		  <li><%= link_to(image_tag("gplus.jpg", :size => "40x40", :alt => "facebook_logo"), "http://www.googleplus.com/codressme") %> </li>
		  <li><%= link_to(image_tag("pinterest.jpg", :size => "40x40", :alt => "facebook_logo"), "http://www.pinterest.com/codressme") %> </li>
		  <li><%= link_to(image_tag("newsletter.jpg", :size => "40x40", :alt => "facebook_logo"), "newsletter") %> </li>
        </ul>
		
		<ul class="footer-links">
		  <li><%= link_to "A propos de nous", "http://www.facebook.com/codressme" %> </li>
		  <li class="muted">|</li>
		  <li><%= link_to "Contact", "http://www.facebook.com/codressme" %> </li>
		  <li class="muted">|</li>
		  <li><%= link_to "Termes et conditions", "http://www.facebook.com/codressme" %> </li>
		  <li class="muted">|</li>
		  <li><%= link_to "Politique de confidentialité", "http://www.facebook.com/codressme" %> </li>
        </ul>
		</br>
		<em>@2013 <a href="http://codressme.com" target="_blank">www.codressme.com</a>. Tous droits reservés. v1.11 </em>
      
</footer>

<% if user_signed_in? %>
	
	<% if current_user.nickname==nil %>
		
		
	<!-- Modal2 -->
			<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Il ne manque que ton surnom !</h3>
			</div>
			<div class="modal-body">
			<p>La communauté CoDressMe te connaitra par ce nom là.</p>
			<%= form_for(@user, :as => :user, :url => registration_path(:user), :html => { :method => :put }) do |f| %>
			 
			 <div>
			 </br>
			  <%= f.text_field :nickname, :required => true, :autofocus => true, :placeholder => "Surnom pour CoDressMe", :class => "offset1 span3 " %></div>
			 
			  <% if current_user.haslocalpw == true %>	
				  <div> <i>(le mot de passe actuel est nécessaire pour valider tout changement)</i><br />
				  <%#= f.password_field :current_password, :required => true, :placeholder => "mot de passe actuel", :class => "span3" %></div>
				  <%#= f.hidden_field(:current_password, :value => current_user.password) %>
				  <%= f.hidden_field(:email, :value => current_user.email) %>
			  <% end %>	
			 
			  <div><%= f.submit "Enregistrer!", :class => "btn btn-primary offset1 span3 " %></div>
			  <% end %>
			  
			  <p>Oups! J'ai oublié <%= link_to "mon mot de passe !", new_user_password_path %></p>
			</div>
 
			</div>

	<!-- FIN Modal2 -->	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<script type = "text/javascript">
		/*
		$(document).ready(function() {	
			$.fancybox(
				'<h2>Nom utilisateur </h2><p>Choisis un nom sympa pour CoDressMe !</p>',
				{
						'autoDimensions'	: false,
					'width'         		: 'auto',
					'height'        		: 'auto',
					'transitionIn'		: 'none',
					'transitionOut'		: 'none'
				}
			);
			
		});
		*/
		
		
			
			
		$('#myModal2').modal('show');

		</script>
		
		
		
		

		
		
		
		
		
		
		
		
		
		
		
	<% end %>
<% end %>





</body>




</html>
