<!DOCTYPE html>
<html>
<head>
  <title>Inscription</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>











<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
<% end %>













<div class="container" id="main-container">

	<%= yield %>

</div>







<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 id="myModalLabel">Connecte-toi avec ton réseau social favori !</h4>
</div>
<div class="modal-body">
	
		<div class="row" ><%= link_to "Connecte-toi avec Facebook", user_omniauth_authorize_path(:facebook), :class => "btn span3 offset1" %> </div>
		   </br>
		   <div class="row" ><%= link_to "Connecte-toi avec Google", user_omniauth_authorize_path(:google_oauth2), :class => "btn span3 offset1" %> </div>
		  </br></br>
		</div>

		<p class="offset1">Et augmente tes chances de trouver preneur pour tes guenilles !</p>
	
<div class="modal-footer">

	<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
</div>
</div>
<!-- FIN Modal -->











</body>

<footer>
	<%= nav_bar :fixed => :bottom do %>
    <%= menu_item "Home", root_path %>
    <%= menu_item "About Us", root_path %>
    <%= menu_item "Contact", root_path %>

    <%= menu_divider %>

    <%= menu_item "Edit Profile", root_path %>
    <%= menu_item "Account Settings", root_path %>
    <%= menu_item "Log Out", root_path %>
<% end %>
</footer>


</html>
